*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  --color-black: #323648;
  --color-black-1: #000;
  --color-black-2: #222;
  --color-gray: #f8f9fa;
  --color-primary: #db1e4a;
  --color-primary-2: #e6355e;
  --color-yellow: #da9d40;
  --color-gray-2: #cccccc;
  --color-gray-3: #f8f9fa;
  --color-white: #fff;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .2rem;
}

.unamad__title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-black);
}
/*UTILIDADES*/
.py-100 {
  padding: 10rem 0;
}

.pt-100 {
  padding-top: 10rem;
}

.py-80 {
  padding: 8rem 0;
}

.py-60 {
  padding: 6rem 0;
}

.py-70 {
  padding: 7rem 0;
}

.py-75 {
  padding: 7.5rem 0;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mb-40 {
  margin-bottom: 4rem;
}
/*UTILIDADES*/

.unamad__card {
  background-color: var(--color-gray);
  box-shadow: .7rem .7rem .7rem 0 rgba(76, 110, 245, .1);
  margin-bottom: 2.5rem;
  padding: 5rem 2rem;
}

.unamad__card-icon {
  color: var(--color-primary);
  font-size: 4rem;
}

.unamad__card-title {
  color: var(--color-primary);
  font-size: 2rem;
}

.unamad__card-text {
  line-height: 2.5rem;
  font-size: 1.4rem;
}

.unamad__banner {
  background-image: url('https://demo.w3layouts.com/demos_new/template_demo/05-06-2019/commute_demo_Free/1199547472/web/images/banner4.jpg');
  background-size: cover;
}

.unamad__banner-title {
  font-size: 4rem;
  font-weight: 700;
}

.unamad__banner-text {
  color: var(--color-gray-2);
  font-size: 1.4rem;
}

.unamad__banner-subtitle {
  font-size: 2rem;
}

.unamad__banner-subtitle span {
  color: var(--color-primary);
  font-size: 4rem;
  font-weight: 700;
}

.unamad__banner-item {
  margin-top: 2rem;
}

.unamad__banner-item p {
  color: var(--color-gray-2);
  font-size: 1.4rem;
}

.unamad__banner-item h4 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.unamad__banner-item i {
  color: var(--color-black);
  background-color: var(--color-gray-3);
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unamad__speakers .unamad__card {
  background-color: var(--color-white);
  box-shadow: 0rem 0rem 1.869rem 0.231rem rgba(204, 204, 223, 0.5);
}

.unamad__speakers span {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 2rem;
}


.unamad__speakers span::before {
  color: var(--color-primary);
}

.unamad__speaker-img {
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
}

.unamad__speakers-content {
  display: flex;
  align-items: center;
}

.unamad__speakers-content-profile {
  margin-left: 2rem;
}

.unamad__speakers-name {
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 700;
}

.unamad__speakers-name + span {
  color: var(--color-gray-2);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

.unamad__register {
  padding: 0 10rem;
}

.unamad__form > div {
  position: relative;
  margin-bottom: 4rem;
} 

.unamad__input {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem 0;
  font-size: 1.4rem;
  border-bottom: .2rem solid var(--color-primary);
  position: relative;
  z-index: 999;
  background-color: transparent;
}

.unamad__form-label {
  font-size: 1.4rem;
  display: block;
  transition: all .3s;
  color: var(--color-primary);
  position: absolute;
  top: 1rem;
  font-weight: 700;
}


.unamad__input:focus + .unamad__form-label {
  top: -1.8rem;
}

.unamad__submit {
  background-color: var(--color-primary);
  padding: 1rem 6rem;
  border: none;
  color: var(--color-white);
  font-size: 1.4rem;
  transition: all .3s;
}

.unamad__submit:hover {
  background-color: var(--color-primary-2);
}

.unamad__footer {
  background-color: var(--color-black-1);
  padding: 3rem 0;
}

.unamad__footer h3 {
  font-size: 4rem;
  color: var(--color-white);
  padding-bottom: 3rem;
}

.unamad__footer-inferior {
  border-top: .1rem solid var(--color-black-2);
  padding-top: 3rem;
}

.unamad__footer-inferior p {
  font-size: 1.4rem;
  color: var(--color-gray-2)
}

/* SLIDER */

.unamad__back-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 999;
}

.unamad__slider-icon {
  z-index: 1000;
}

.unamad__slider-icon:hover .unamad__next-icon {
  margin-left: .5rem;
}

.unamad__slider-icon:hover .unamad__prev-icon {
  margin-right: .5rem;
}

.unamad__slider-icon i {
  font-size: 3rem;
  transition: all .3s;
}

/* SLIDER */

/* HEADER */
.unamad__header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 3rem 0;
  color: var(--color-white);
}

.unamad__logo {
  font-style: italic;
  font-size: 4rem;
}

.unamad__menu {
}

.unamad__menu-link {
  color: var(--color-white);
  font-size: 1.6rem;
  padding-left: 2rem;
  text-decoration: none !important;
  transition: all .3s;
}

.unamad__menu-link:hover {
  color: var(--color-gray);
}
/* HEADER */

@media (max-width: 992px) { 
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 768px) { 
  html {
    font-size: 50%;
  }

  .unamad__input:nth-child(1) {
    margin-bottom: 3rem;
  }

  .py-100 {
    padding: 6rem 0;
  }
  
  .pt-100 {
    padding-top: 6rem;
  }
}
