*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  --color-black: #323648;
  --color-black-1: #000;
  --color-black-2: #222;
  --color-gray: #f8f9fa;
  --color-primary: rgb(219, 30, 74);
  --color-primary-2: #e6355e;
  --color-gray-2: #cccccc;
  --color-gray-3: #f8f9fa;
  --color-white: #fff;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .2rem;
}

.unamad__title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-black);
}
/*UTILIDADES*/
.py-100 {
  padding: 10rem 0;
}

.pt-100 {
  padding-top: 10rem;
}

.py-80 {
  padding: 8rem 0;
}

.py-60 {
  padding: 6rem 0;
}

.pt-50 {
  padding: 5rem 0;
}

.py-70 {
  padding: 7rem 0;
}

.py-75 {
  padding: 7.5rem 0;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mb-40 {
  margin-bottom: 4rem;
}

.relative {
  position: relative !important;
}
/*UTILIDADES*/

.unamad__card {
  background-color: var(--color-gray);
  box-shadow: .7rem .7rem .7rem 0 rgba(76, 110, 245, .1);
  margin-bottom: 2.5rem;
  padding: 5rem 2rem;
}

.unamad__card-icon {
  color: var(--color-primary);
  font-size: 4rem;
}

.unamad__card-title {
  color: var(--color-primary);
  font-size: 2rem;
}

.unamad__card-text {
  line-height: 2.5rem;
  font-size: 1.4rem;
}

.unamad__banner {
  background: linear-gradient(
    rgba(0, 0, 0, 0.45), 
    rgba(0, 0, 0, 0.45)
  ), url('http://www.unamad.edu.pe/images/2019/09/12/fondo_from01.jpg');
  background-size: cover;
}

.unamad__banner-title {
  font-size: 4rem;
  font-weight: 700;
}

.unamad__banner-text {
  color: var(--color-white);
  font-size: 1.4rem;
}

.unamad__banner-subtitle {
  font-size: 2rem;
}

.unamad__banner-subtitle span {
  color: var(--color-primary);
  font-size: 4rem;
  font-weight: 700;
}

.unamad__banner-item {
  margin-top: 2rem;
}

.unamad__banner-item p {
  color: var(--color-white);
  font-size: 1.4rem;
}

.unamad__banner-item h4 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.unamad__banner-item i {
  color: var(--color-black);
  background-color: var(--color-gray-3);
  font-size: 2rem;
  padding: 1.5rem;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unamad__speakers .unamad__card {
  background-color: var(--color-white);
  box-shadow: 0rem 0rem 1.869rem 0.231rem rgba(204, 204, 223, 0.5);
}

.unamad__speaker {
  position: relative;
  height: 40rem;
  margin-bottom: 4rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 .3rem .5rem rgba(0,0,0,0.2);
}

.unamad__speaker-info {
  background: linear-gradient(
    rgb(219, 30, 74, .9),
    rgba(0, 0, 0, .9)
  );
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--color-white);
  padding: 2rem;
  bottom: 100%;
  transition: all .3s;
}

.unamad__speaker-info h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.unamad__speaker-info p {
  font-size: 1.2rem;
  text-align: justify;
}

.unamad__speaker-img {
  width: 100%;
  height: 100% !important;
}

.unamad__speaker:hover .unamad__speaker-info{
  bottom: 0;
}

.unamad__speakers span {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 2rem;
}


.unamad__speakers span::before {
  color: var(--color-primary);
}


.unamad__speakers-content {
  display: flex;
  align-items: center;
}

.unamad__speakers-content-profile {
  margin-left: 2rem;
}

.unamad__speakers-name {
  color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 700;
}

.unamad__speakers-name + span {
  color: var(--color-gray-2);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

.unamad__register {
  padding: 0 10rem;
}

.unamad__form > div {
  position: relative;
  margin-bottom: 4rem;
} 

.unamad__input {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem 0;
  font-size: 1.4rem;
  border-bottom: .2rem solid var(--color-primary);
  position: relative;
  z-index: 999;
  background-color: transparent;
}

.unamad__form-label {
  font-size: 1.4rem;
  display: block;
  transition: all .3s;
  color: var(--color-primary);
  font-weight: 700;
}


.unamad__submit {
  background-color: var(--color-primary);
  padding: 1rem 6rem;
  border: none;
  color: var(--color-white);
  font-size: 1.4rem;
  transition: all .3s;
}

.unamad__submit:hover {
  background-color: var(--color-primary-2);
}

.unamad__footer {
  background-color: var(--color-black-1);
  padding: 3rem 0;
}

.unamad__footer h3 {
  font-size: 4rem;
  color: var(--color-white);
  padding-bottom: 3rem;
}

.unamad__footer-inferior {
  border-top: .1rem solid var(--color-black-2);
  padding-top: 3rem;
}

.unamad__footer-inferior p {
  font-size: 1.4rem;
  color: var(--color-gray-2)
}

.unamad__footer-logo img {
  width: 30rem;
}

/* SLIDER */
.unamad__title-carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-white);
}

.unamad__title-carousel h2 {
  font-weight: 700;
  margin-bottom: 2rem;
  letter-spacing: .5rem;
  font-size: 3.5rem;
}

.unamad__title-carousel p {
  font-size: 1.8rem;
}

.unamad__back-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  z-index: 999;
}

.unamad__slider-icon {
  z-index: 1000;
}

.unamad__slider-icon:hover .unamad__next-icon {
  margin-left: .5rem;
}

.unamad__slider-icon:hover .unamad__prev-icon {
  margin-right: .5rem;
}

.unamad__slider-icon i {
  font-size: 3rem;
  transition: all .3s;
}

/* SLIDER */

/* HEADER */
.unamad__header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 3rem 0;
  color: var(--color-white);
}

.unamad__logo {
  font-style: italic;
  font-size: 4rem;
}

.unamad__menu-link {
  color: var(--color-white);
  font-size: 1.6rem;
  padding-left: 2rem;
  text-decoration: none !important;
  transition: all .3s;
}

.unamad__menu-link:hover {
  color: var(--color-gray);
}

.unamad__menu-icon {
  display: none;
  font-size: 2.2rem;
  background-color: var(--color-primary);
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all .3s;
  z-index: 1000;
}

.unamad__menu-icon:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}
/* HEADER */


/* TALLERES */
.unamad__tallers .col-12:nth-child(odd) {
  transform: rotate(-2deg);
}

.unamad__tallers .col-12:nth-child(even) {
  transform: rotate(2deg);
}

.unamad__taller {
  background-color: var(--color-white);
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 5rem;
  transition: all .3s;
}

.unamad__taller:hover {
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .5);
}

.unamad__taller h4 {
  color: var(--color-primary);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.unamad__taller img {
  width: 100%;
  height: 100%;
}
/* TALLERES */

@media (max-width: 992px) { 
  html {
    font-size: 56.25%;
  }

}

@media (max-width: 768px) { 
  .unamad__header {
    padding-right: 10rem;
    padding-left: 10rem;
  }
  html {
    font-size: 50%;
  }

  .unamad__input:nth-child(1) {
    margin-bottom: 3rem;
  }

  .py-100 {
    padding: 6rem 0;
  }
  
  .pt-100 {
    padding-top: 6rem;
  }

  .unamad__menu {
    max-height: 30rem;
    height: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2000;
  }

  .unamad__header {
    padding-right: 8rem;
    padding-left: 8rem;
  }

  .unamad__menu.active {
    display: block;
    top: 95%;
    right: 1.8rem;
    background-color: var(--color-white);
    height: auto;
  }

  .unamad__menu.active .unamad__menu-link {
    display: block;
    color: var(--color-black);
    padding: 1.5rem 8rem;
    text-align: center;
    font-weight: 700;
  }

  .unamad__menu.active .unamad__menu-link:hover {
    color: var(--color-primary);
  }

  .unamad__menu-icon {
    display: block;
  }
}


@media (max-width: 576px) { 
  .unamad__title-carousel h2 {
    font-size: 1rem;
  }

  .unamad__title-carousel p {
    font-size: 1rem;
  }

  .unamad__header {
    padding: 1rem 0;
    padding-right: 6rem;
    padding-left: 6rem;
  }

  .unamad__tallers .col-12:nth-child(odd) {
    transform: rotate(0deg);
  }
  
  .unamad__tallers .col-12:nth-child(even) {
    transform: rotate(0deg);
  }

  .unamad__footer-logo img:nth-child(1) {
    margin-bottom: 5rem;
  }

  .unamad__footer-logo img {
    width: 10rem;
  }
}